{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  {{ parent() }}
{% endblock %}

{% block header %}
  <div class="container-fluid">
    <div class="row">
      <h1>Wish<br/> A Gift</h1>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <form id="mainPageForm" method="post" action="">
      <div class="form-group row">
        <div class="col-sm-12">
            {{ form_errors(form.Title) }}
            {{ form_label(form.Title, 'Title', {'for': 'title'}) }}

              {{ form_widget(form.Title, {

                  'attr': {
                      'class': 'form-control',
                      'placeholder': 'Type the title for your list',
                      'novalidate': 'novalidate',
                      'required': 'false'
                  }})
              }}

        </div>
      </div>

      <div class="form-group">
          {{ form_label(form.Description, 'Description', {'for': 'description'}) }}
          {{ form_widget(form.Description, {
              'attr': {
                  'class': 'form-control',
                  'row': "10"
              }})
          }}
      </div>
        {{ form_widget(form.Uuid, {
            'attr': {
                'value': uuid
            }})
        }}

      {#<div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="Type in your wish here!!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="And here another wish!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="And here one more!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}

      <button type="submit" class="btn btn-lg btn-block btn-secondary" name="gift_list[Save]" value="Create a WishList">Create a WishList</button>
    </form>
  </div>
{% endblock %}

