{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let $collectionHolder;

        // setup an "add a gift" link
        let $addTagLink = $('<a href="#" class="btn btn-xl bg-dark add_email_link">Add An Email</a><br />');
        let $newLinkLi = $('<li></li>').append($addTagLink);

        $(document).ready(function () {
            console.log("All resources finished loading");

            jQuery('.add-another-collection-widget').click(function (e) {
                e.preventDefault();
                let list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list
                let counter = list.data('widget-counter') | list.children().length;
                // If the counter does not exist, use the length of the list
                if (!counter) {
                    counter = list.children().length;
                }

                // grab the prototype template
                let newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your gifts
                // end name attribute looks like name="contact[gifts][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                let newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.prependTo(list);


            });
        });
        {# in case of moving js in separate file #}
        {#<script src="add-collection-widget.js"></script>#}
    </script>
    <script>
        $(document).ready(function () {
            // $("form").submit(function (event) {
            //     event.preventDefault();
            // });

            // console.log("All resources finished loading");
            //
            // let counter = 0;
            // add click handler to "Add" button
            // $('#addButton').click(function () {
            //     addEmail($('.newEmail'), counter++, $('#emailList'));
            // });
            //
            //
            // function addEmail(emailItem, counter, emailList) {
            //     console.log(emailItem, counter, emailList);
            // console.log(emailList, counter);
            //
            // const emailVal = emailItem.val().trim();
            //
            // if (!emailVal) {
            //     return;
            // }
            //
            // $('div#emailList').append(`<div class="input-group mb-3" id="emailItem${counter}">\n` +
            //     `<input type="text" class="form-control" value="${escapeHtml(emailVal)}" />\n` +
            //     '<div class="input-group-append">\n' +
            //     `<button type="button" class="btn btn-xl bg-danger border-danger" id="deleteButton${counter}">\n` +
            //     '<i class="fa fa-times mr-2"></i>\n' +
            //     '</button>\n' +
            //     '</div>\n' +
            //     '</div>');
            //
            // console.log(`emailItem${counter}`);
            //
            // emailItem.val('').focus();
            //
            // $(`#deleteButton${counter}`).click(function() {
            //     $(`#emailItem${counter}`).remove();
            // });
            //
            // }
            //
            // function escapeHtml(string) {
            //     return (string.replace(/&/g, "&amp;")
            //         .replace(/</g, "&lt;")
            //         .replace(/>/g, "&gt;")
            //         .replace(/"/g, "&quot;")
            //         .replace(/'/g, "&#039;"));
            // }

            // deleteEmail = function deleteEmail(emailItem) {
            //   emailItem.remove($('#emailItem${counter}'));
            // };

            $('#copyToClipboard').click(function () {
                let copyLink = document.getElementById("emails_url");
                copyLink.select();
                document.execCommand("copy");
                alert("You just copied the link to the clipboard!");
            })

        })

    </script>

{% endblock %}

{% block body %}
    {{ include('navigation/navigation.html.twig') }}
    <br><br><br><br>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{ data.firstname }} Gift List</h2>
                    <h3 class="section-subheading text-muted">{{ data.email }}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-inline-block">
                <span class="d-inline-block fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                </span>
                            </div>
                            <div class="d-inline-block text-center data-title">
                                <h4 class="service-heading">{{ data.title|capitalize }}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="text-muted">{{ data.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-left">
                    {% for gift in data.gifts %}
                        {% if gift is not null %}
                            <div class="col-md-12">
                                <div class="d-inline-block fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                                </div>
                                <div class="d-inline-block">
                                    {#<h4 class="service-heading">Gifts</h4>#}
                                    <p class="text-muted">{{ gift.title|capitalize }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-block btn-xl bg-dark border-dark text-uppercase">Edit</button>
                {# Modal Trigger #}
                <button type="button" class="btn btn-block btn-xl text-uppercase" data-toggle="modal"
                        data-target="#modal">
                    Share with Friends
                </button>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="container-fluid">

        </div>
    </div>

    {# Modal #}
    <div class="portfolio-modal modal fade {% if app.request.get('open_share') %}modal-open{% endif %}" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog p-5">
            <div class="modal-content">
                <button type="button" class="btn btn-light close-modal" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Share With Friends</h2>
                                {{ form_start(form, {
                                    'method': 'POST',
                                    'attr': {
                                        'novalidate': 'novalidate',
                                        'action': path('giftlist-admin', {'uuidadmin': data.uuidAdmin, 'open_share': true})
                                    }}) }}
                                {#<p class="item-intro text-muted"></p>#}
                                {#<div class="form-group">#}
                                    {#<textarea class="form-control" title="description" id="description"#}
                                    {#rows="10">{{ data.description }}</textarea>#}
                                    {#<p class="text-muted">{{ data.description }}</p>#}
                                {#</div>#}

                                <ul class="emails form-group" id="email-fields-list"
                                    data-prototype="{{ form_widget(form.emails.vars.prototype)|e }}"
                                    data-widget-tags="{{ '<li></li>'|e }}">
                                    {% for emailField in form.emails %}

                                        <li class="form-group">
                                            <div class="input-group">
                                                {{ form_widget(emailField) }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="form-group">
                                    <a href="#"
                                       class="btn btn-xl btn-block bg-dark border-dark add-another-collection-widget"
                                       data-list="#email-fields-list">Add an Email
                                    </a>
                                </div>
                                <div class="input-group mb-3">
                                    {{ form_widget(form.url, {
                                        'value': url('giftlist-user', {'uuiduser': data.uuid}),
                                        'attr': {
                                            'class': 'form-control'
                                        }}) }}
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-xl bg-dark border-dark"
                                                id="copyToClipboard">Copy
                                        </button>
                                    </div>
                                </div>
                                {#onclick="copyToClipboard('#emails_url')"#}
                                <div class="form-group">
                                    {{ form_widget(form.send, {
                                        'attr': {
                                            'class': 'btn btn-primary  btn-block btn-xl text-uppercase',
                                        }
                                    })
                                    }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}