{% extends 'base.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
      let $collectionHolder;

                // setup an "add a gift" link
                    let $addTagLink = $('<a href="#" class="btn btn-primary btn-xl btn-block add_gift_link">Add a Gift</a><br />');
            let $newLinkLi = $('<li></li>').append($addTagLink);

      $(document).ready(function () {
          console.log("All resources finished loading");

          jQuery('.add-another-collection-widget').click(function (e) {
              e.preventDefault();
              let list = jQuery(jQuery(this).attr('data-list'));
              // Try to find the counter of the list
              let counter = list.data('widget-counter') | list.children().length;
              // If the counter does not exist, use the length of the list
              if (!counter) {
                  counter = list.children().length;
              }

              // grab the prototype template
              let newWidget = list.attr('data-prototype');
              // replace the "__name__" used in the id and name of the prototype
              // with a number that's unique to your gifts
              // end name attribute looks like name="contact[gifts][2]"
              newWidget = newWidget.replace(/__name__/g, counter);
              // Increase the counter
              counter++;
              // And store it, the length cannot be used if deleting widgets is allowed
              list.data('widget-counter', counter);

              // create a new list element and add it to the list
              let newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
              newElem.prependTo(list);


          });
      });
      {# in case of moving js in separate file #}
      {#<script src="add-collection-widget.js"></script>#}
  </script>
{% endblock %}

{% block body %}
  {{ include('navigation/navigation.html.twig') }}
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Create your Gift List</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{ form_start(form, {
            'method': 'POST',
            'attr': {
              'id': 'createForm',
              'action': 'create',
              'novalidate': 'novalidate'
            }}) }}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ form_widget(form.firstName, {
                  'attr': {
                    'class': 'form-control',
                    'placeholder': 'Your Name'
                  }})
                }}
                <p class="help-block text-danger">{{ form_errors(form.firstName) }}</p>
              </div>
              <div class="form-group">
                {{ form_widget(form.email, {
                  'attr': {
                    'class': 'form-control',
                    'placeholder': 'Your Email'
                  }})
                }}
                <p class="help-block text-danger">{{ form_errors(form.email) }}</p>
              </div>

              <div class="form-group">
                <a href="#" class="btn btn-primary btn-xl btn-block add-another-collection-widget"
                   data-list="#gift-fields-list">Add a Gift
                </a>
              </div>
              <ul class="gifts form-group" id="gift-fields-list"
                  data-prototype="{{ form_widget(form.gifts.vars.prototype)|e }}"
                  data-widget-tags="{{ '<li></li>'|e }}">
                {% for giftField in form.gifts %}
                  <li>{{ form_widget(giftField) }}</li>
                {% endfor %}
              </ul>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                {{ form_widget(form.title, {
                  'attr': {
                    'class': 'form-control',
                    'placeholder': 'Title'
                  }})
                }}
                <p class="help-block text-danger">{{ form_errors(form.title) }}</p>
              </div>
              <div class="form-group">
                {{ form_widget(form.description, {
                  'attr': {
                    'class': 'form-control',
                    'placeholder': 'Description'
                  }})
                }}
                <p class="help-block text-danger">{{ form_errors(form.description) }}</p>
              </div>

            </div>
              <div class="clearfix"></div>
            </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                {{ form_widget(form.Save, {
                  'attr': {
                    'class': 'btn btn-primary  btn-block btn-xl text-uppercase',
                  }})
                }}
              </div>
            </div>
          </div>
        </div>
        {{ form_end(form) }}

      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Wish a gift 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        {#<div class="col-md-4">#}
        {#<ul class="list-inline quicklinks">#}
        {#<li class="list-inline-item">#}
        {#<a href="#">Privacy Policy</a>#}
        {#</li>#}
        {#<li class="list-inline-item">#}
        {#<a href="#">Terms of Use</a>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
      </div>
    </div>
  </footer>
{% endblock %}