{% extends 'base.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
      $(document).ready(function () {
          console.log("All resources finished loading");

          let counter = 0;
          // add click handler for "Add" button
          $('#addButton').click(function() {
              addGift($('.newGift'), counter++, $('#giftList'));
          });

      });

      function addGift(gift, counter, giftList) {
          console.log(gift, giftList);

          const giftVal = gift.val().trim();

          if (!giftVal) {
              return;
          }

          giftList = giftList.append(`<div class="input-group mb-3" id="giftItem${counter}">\n` +
              `<input type="text" class="form-control" name="gift_list[Gifts][]" readonly value="${escapeHtml(giftVal)}" />\n` +
              '<div class="input-group-append">\n' +
              `<button type="button" class="btn btn-danger btn-xl deleteButton" id="deleteButton" onclick="deleteGift($('#giftItem${counter}'))">\n` +
              `<i class="fas fa-times mr-2"></i>\n` +
              `</button>\n` +
              '</div>\n' +
              '</div>');

          gift.val('.').focus();
      }

      function escapeHtml(string) {
          return (string.replace(/&/g, "&amp;")
              .replace(/</g, "&lt;")
              .replace(/>/g, "&gt;")
              .replace(/"/g, "&quot;")
              .replace(/'/g, "&#039;"));
      }

      function deleteGift(giftItem) {
          giftItem.remove();
      }

  </script>
{% endblock %}

{% block body %}
    {{ include('navigation/navigation.html.twig') }}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Create your Gift List</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {#<form id="contactForm" name="sentMessage" novalidate>#}
                        {{ form_start(form, {
                            'attr': {
                                'id': 'createForm',
                                'action': 'create',
                                'novalidate': 'novalidate'
                            }})
                        }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.FirstName, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Your Name'
                                        }} )
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.FirstName) }}</p>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.Email, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Your Email'
                                        }})
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.Email) }}</p>
                                </div>
                                <div class="input-group">
                                {#{{ form_errors(form.Gift.Gift) }}#}
                                {{ form_widget(form.Gift.Gift, {
                                    'attr': {
                                        'class': 'form-control newGift',
                                        'placeholder': 'Type Gift and press Add button'
                                    }})
                                }}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-xl" id="addButton" type="button">
                                            Add a Gift
                                        </button>
                                    </div>
                                </div><br>
                                <div class="form-group">
                                    <div id="giftList"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.Title, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Title'
                                        }})
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.Title) }}</p>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.Description, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Description'
                                        }})
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.Description) }}</p>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.Save, {
                                        'attr': {
                                            'class': 'btn btn-primary  btn-block btn-xl text-uppercase'
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Uuid, {
                                    'attr': {
                                        'value': uuid
                                    }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.UuidAdmin, {
                                    'attr': {
                                        'value': uuidadmin
                                    }}) }}
                            </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                {{ form_end(form) }}

                </div>
            </div>
    </section>
{% endblock %}
