{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
      $(document).ready(function () {
          console.log("All resources finished loading");

          let counter = 0;
          // add click handler for "Add" button
          $('#addButton').click(function() {
              addGift($('.newGift'), counter++, $('#giftList'));
          });

      });

      function addGift(gift, counter, giftList) {
          console.log(gift, giftList);

          const giftVal = gift.val().trim();

          if (!giftVal) {
              return;
          }

          giftList = giftList.append(`<div class="input-group mb-3" id="giftItem${counter}">\n` +
              `<input type="text" class="form-control" name="gift_list[Gifts][]" readonly value="${escapeHtml(giftVal)}" />\n` +
              '<div class="input-group-append">\n' +
              `<button type="button" class="btn btn-danger deleteButton" id="deleteButton" onclick="deleteGift($('#giftItem${counter}'))">\n` +
              `<i class="fas fa-times mr-2"></i>\n` +
              `</button>\n` +
              '</div>\n' +
              '</div>');

          gift.val('').focus();
      }

      function escapeHtml(string) {
          return (string.replace(/&/g, "&amp;")
              .replace(/</g, "&lt;")
              .replace(/>/g, "&gt;")
              .replace(/"/g, "&quot;")
              .replace(/'/g, "&#039;"));
      }

      function deleteGift(giftItem) {
          giftItem.remove();
      }

  </script>
{% endblock %}

{% block body %}
  <div class="welcome d-flex justify-content-center flex-column">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="welcome-heading display-4 text-white" style="text-align:center;">Create your Gift List</h1>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12">
          {{ form_start(form, {
            'attr': {
              'id': 'createForm',
                  'action': 'create',
                  'novalidate': 'novalidate'
            }})
          }}

          <div class="row">
              {{ form_label(form.FirstName, 'Name:', {'for': 'name', 'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
              <div class="col">
                {{ form_widget(form.FirstName, {
                  'attr': {
                    'class': 'form-control',
                    'placeholder': 'Name'
                  }} )
                }}
              </div>
          </div>

          <div class="row">
            {{ form_label(form.Email, 'Email:', {'for': 'email', 'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col">
              {{ form_widget(form.Email, {
                'attr': {
                  'class': 'form-control',
                  'placeholder': 'Email',
                  'aria-describedby': 'emailHelp'
                }})
              }}
            </div>
          </div>
          <br />

          <div class="row">
            {{ form_label(form.Title, 'Title:', {
              'for': 'title',
              'label_attr': {'class': 'col-sm-2 col-form-label'}})
            }}
            <div class="col">
              {{ form_widget(form.Title, {
                'attr': {
                  'class': 'form-control',
                  'placeholder': 'Title'
                }})
              }}
            </div>
          </div>

          <div class="row">
            {{ form_label(form.Description, 'Description', {
              'for': 'description',
              'label_attr': {'class': 'col-sm-2 col-form-label'
              }})
            }}
            <div class="col">
            {{ form_widget(form.Description, {
              'attr': {
                'class': 'form-control',
                'row': '5',
                'placeholder': 'Type in few words in description'
              }})
            }}
            </div>
          </div>
          <br />

          <div class="input-group mb-3">
            {{ form_widget(form.Gift.Gift, {
              'attr': {
                'class': 'form-control newGift',
                'placeholder': 'Type in your wish here and press Add button'
              }})
            }}
            <div class="input-group-append">
              <button class="btn btn-light addButton" id="addButton" type="button">Add a Gift</button>
            </div>
          </div>

          <div class="form-group">
              {{ form_widget(form.Uuid, {
                  'attr': {
                      'value': uuid
                  }}) }}
          </div>
          <div class="form-group">
              {{ form_widget(form.UuidAdmin, {
                  'attr': {
                      'value': uuidadmin
                  }}) }}
          </div>

          <div id="giftList"></div>

          {{ form_widget(form.Save, {
            'attr': {
              'class': 'btn btn-lg btn-outline-white btn-pill btn-block saveButton'
            }})
          }}

          {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
