{% extends 'base.html.twig' %}

{% block body %}

  <h3>You Link </h3>
  <div>{{ data.admin.firstname }}</div>
  <div>{{ data.admin.email }}</div>
  <div>{{ data.admin.title }}</div>
  <div>{{ data.admin.description }}</div>
  <div>{{ data.url }}</div>

    {% for gift in data.admin.gifts %}

      <div>{{ gift.title }}</div>

    {% endfor %}

{% endblock %}