{% block body %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Wish A Gift</title>
        <style type="text/css">
            body {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin: 0 !important;
                width: 100% !important;
                -webkit-text-size-adjust: 100% !important;
                -ms-text-size-adjust: 100% !important;
                -webkit-font-smoothing: antialiased !important;
            }

            .tableContent img {
                border: 0 !important;
                display: block !important;
                outline: none !important;
            }

            a {
                color: #382F2E;
            }

            p, h1, ul, ol, li, div {
                margin: 0;
                padding: 0;
            }

            td, table {
                vertical-align: top;
            }

            /*td.middle {*/
            /*vertical-align: middle;*/
            /*}*/

            /*a.link1 {*/
            /*color: #ffffff;*/
            /*font-size: 14px;*/
            /*text-decoration: none;*/
            /*}*/

            /*a.link2 {*/
            /*font-size: 13px;*/
            /*color: #999999;*/
            /*text-decoration: none;*/
            /*line-height: 19px;*/
            /*}*/

            /*.bigger {*/
            /*font-size: 24px;*/
            /*}*/

            .bgBody {
                background: #dddddd;
            }

            .bgItem {
                background: #ffffff;
            }

            h2 {
                font-family: Georgia, serif;
                font-size: 36px;
                text-align: center;
                color: #B57801;
                font-weight: normal;
            }

            p {
                color: #ffffff;
            }

            @media only screen and (max-width: 480px) {

                table[class="MainContainer"], td[class="cell"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="specbundle"] {
                    width: 100% !important;
                    float: left !important;
                    font-size: 13px !important;
                    line-height: 17px !important;
                    display: block !important;
                    padding-bottom: 15px !important;
                }

                td[class="specbundle2"] {
                    width: 90% !important;
                    float: left !important;
                    font-size: 14px !important;
                    line-height: 18px !important;
                    display: block !important;
                    padding-bottom: 10px !important;
                    padding-left: 5% !important;
                    padding-right: 5% !important;
                }

                td[class="spechide"] {
                    display: none !important;
                }

                img[class="banner"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="left_pad"] {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }

            }

            @media only screen and (max-width: 540px) {

                table[class="MainContainer"], td[class="cell"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="specbundle"] {
                    width: 100% !important;
                    float: left !important;
                    font-size: 13px !important;
                    line-height: 17px !important;
                    display: block !important;
                    padding-bottom: 15px !important;
                }

                td[class="specbundle2"] {
                    width: 90% !important;
                    float: left !important;
                    font-size: 14px !important;
                    line-height: 18px !important;
                    display: block !important;
                    padding-bottom: 10px !important;
                    padding-left: 5% !important;
                    padding-right: 5% !important;
                }

                td[class="spechide"] {
                    display: none !important;
                }

                img[class="banner"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="left_pad"] {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }

            }

        </style>
        <script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"DDDDDD",
    "link":"999999",
    "color":"ffffff",
    "bgItem":"ffffff",
    "title":"B57801"
  }


        </script>

    </head>
    <body class='bgBody'>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"
       style='font-family:helvetica, sans-serif;'>
    <tbody>
<tr>
    <td>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
    <tbody>
    <tr>
        <td class='movableContentContainer'>
            {# header #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td height='22' bgcolor='#363636'></td>
                    </tr>
                    <tr>
                        <td bgcolor='#363636'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td valign="top" width="50" class="spechide">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="340" class="specbundle2">
                                                    <div class="contentEditableContainer contentImageEditable">
                                                        <div class="contentEditable">
                                                            <h3 style="color: #fec503; text-align: left">Wish a
                                                                Gift</h3>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top" width="20" class="spechide">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height='22' bgcolor='#363636'></td>
                    </tr>
                    <tr>
                        <td height='1' bgcolor='#fec503'></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            {# picture #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor='#B57801'>
                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable">
                                    <img class="banner"
                                         src="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-agency/master/img/header-bg.jpg"
                                         data-default="placeholder" data-max-width="600" width='600'
                                         height='400' alt='wish-a-gift' border="0">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            {# "yellow" section #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor='#fec503'>
                    <tr>
                        <td height='35' colspan='3'></td>
                    </tr>
                    <tr>
                        <td width='50'></td>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-family:Georgia, serif;text-align:center;'
                                                 class="contentEditable">
                                                <p style='font-size:22px;color:#ffffff;'>
                                                    <b>Congratulation!</b>
                                                    <br/>
                                                    <b>You were invited to the party "{{ data.admin.title }}", which was
                                                        created by your friend, {{ data.admin.firstname }}.</b>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='50'></td>
                    <tr>
                        <td height='35' colspan='3'></td>
                    </tr>
                </table>
            </div>

            {# links and description #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class='bgItem'>
                    <tr>
                        <td height='55'></td>
                    </tr>
                    <tr>
                        <td width='50'></td>
                        <td>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <p style='color:#333333; font-family:Georgia, serif; font-size:18px; text-align: center;'>
                                        To open your friend's
                                        WishList and reserve the gift, please, follow the link: {{ data.url }}</p>
                                </div>
                            </div>
                        </td>
                        <td width='50'></td>
                    </tr>
                    <tr>
                        <td height='20'></td>
                    </tr>
                    <tr>
                        <td width='50'></td>
                        <td>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <h2 style='color:#B57801;font-size:36px;'>Let's Rock!</h2>
                                </div>
                            </div>
                        </td>
                        <td width='50'></td>
                    </tr>
                    <tr>
                        <td height='15'></td>
                    </tr>
                    <tr>
                        <td width='50'></td>
                        <td>
                            {# wishlist description #}
                            <div class="contentEditableContainer contentTextEditable">
                                <div style='font-family:Georgia, serif;font-size:18px;text-align:center;'
                                     class="contentEditable">
                                    <p style='color:#333333;'>Here is some description, which may help you for better
                                        preparation:</p>
                                    <br/>
                                    <p style='color:#333333;'>{{ data.admin.description }}</p>
                                </div>
                            </div>
                        </td>
                        <td width='50'></td>

                    </tr>
                </table>
            </div>

            {# list of gifts #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class='bgItem'>
                    <tr>
                        <td height='55' colspan='5'></td>
                    </tr>
                    <tr>
                        <td width='20' class="spechide"></td>
                        <td width='85%' valign="top" class="specbundle2">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-family:Georgia, serif;font-size:20px;'
                                                 class="contentEditable">
                                                <p style='color:#333333; text-align:center'><span
                                                            style='color:#B57801;'>Your friend wants to be surprised!</span>
                                                </p>
                                                <br/>
                                                <p style='color:#333333; text-align:center'><span
                                                            style='color:#B57801;'>Take a look at the preliminary list of gifts, that
                                                        {{ data.admin.firstname }} craves so much:</span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height='15'></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-size:14px;line-height:22px; text-align: center;'
                                                 class="contentEditable">
                                                {% for gift in data.admin.gifts %}
                                                    <ul style="list-style-type: none;">
                                                        <li>
                                                            <p style='color:#333333; font-size: 20px;'>{{ gift.title }}</p>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='20' class="spechide"></td>
                    </tr>
                </table>
            </div>

            {# warning #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class='bgItem'>
                    <tr>
                        <td height='55' colspan='3'></td>
                    </tr>
                    <tr>
                        <td width='20'></td>
                        <td width='560'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   bgcolor='#FFFAEF'
                                   style='border:2px solid #fec503;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px'>
                                <tr>
                                    <td height='35' colspan='3'></td>
                                </tr>
                                <tr>
                                    <td width='55'></td>
                                    <td width="442">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <div class="contentEditableContainer contentTextEditable"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='10'></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="contentEditableContainer contentTextEditable">
                                                        <div style='font-size:14px;line-height:22px;text-align:center;'
                                                             class="contentEditable">
                                                            <h3 style='color:#B57801;'>Bring to notice, that the list of
                                                                gifts may be changed until you'll reserve some one.</h3>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width='55'></td>
                                </tr>
                                <tr>
                                    <td height='35' colspan='3'></td>
                                </tr>
                            </table>
                        </td>
                        <td width='20'></td>
                    </tr>
                </table>
            </div>

            {# admin email section #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class='bgItem'>
                    <tr>
                        <td height='20' colspan='5'></td>
                    </tr>
                    <tr>
                        <td width='20' class="spechide"></td>
                        <td width='238' valign="top" class="specbundle2">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-family:Georgia, serif;font-size:20px;'
                                                 class="contentEditable">
                                                <p style='color:#333333;'><span style='color:#B57801;'></span></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height='15'></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-size:14px;line-height:22px;'
                                                 class="contentEditable">
                                                <p style='color:#333333; font-size: 16px; text-align: center;'>Do not
                                                    hesitate to send any questions to the party owner using direct email
                                                    address: {{ data.admin.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='20' class="spechide"></td>
                    </tr>
                </table>
            </div>

            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table class='bgItem' width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height='55'></td>
                    </tr>
                </table>
            </div>

            {# footer #}
            <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor='#363636'>
                    <tr>
                        <td height='35' colspan='3'></td>
                    </tr>
                    <tr>
                        <td width='20'></td>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height='10'></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div style='font-size:14px;line-height:22px;text-align:center'
                                                 class="contentEditable">
                                                <p style="font-size: 20px;">Have Fun!</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='20'></td>
                    </tr>
                    <tr>
                        <td height='55' colspan='3'></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    </tbody>



{% endblock %}