<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ "Wish a Gift" }}{% endblock %}</title>
  {% block stylesheets %}
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    {#<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">#}
    {#<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {#<link rel="stylesheet" href="{{ asset('build/scss/agency.css') }}">#}
  {% endblock %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
  {% block canonical_meta %}{% endblock %}
</head>

<body  id="page-top">
  {% block header %}{% endblock %}
  {% block body %}{% endblock %}
  {% block footer %}{% endblock %}

{% block javascripts %}
  <script src="{{ asset('build/js/app.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {#<script src="{{ asset('build/js/shards.min.js') }}"></script>#}

{% endblock %}
</body>

</html>
